<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<false/>
	<key>autohide-delay</key>
	<real>0.0</real>
	<key>autohide-time-modifier</key>
	<real>0.0</real>
	<key>contents-immutable</key>
	<true/>
	<key>enable-spring-load-actions-on-all-items</key>
	<true/>
	<key>enterMissionControlByTopWindowDrag</key>
	<false/>
	<key>expose-animation-duration</key>
	<real>0.10000000149011612</real>
	<key>largesize</key>
	<real>16</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>804238117.46719003</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>751594425.36655796</real>
	<key>launchanim</key>
	<false/>
	<key>loc</key>
	<string>en_US:IN</string>
	<key>magnification</key>
	<false/>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>5290</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>bottom</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>271142758</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>spacer-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145059</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>net.whatsapp.WhatsApp</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/WhatsApp.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>WhatsApp</string>
				<key>file-mod-date</key>
				<integer>116753961324420</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>29359966785410</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145060</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hnc.Discord</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Discord.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Discord</string>
				<key>file-mod-date</key>
				<integer>1945190383912</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>29359966785410</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>small-spacer-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145053</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sublimetext.4</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Sublime%20Text.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Sublime Text</string>
				<key>file-mod-date</key>
				<integer>149400004350758</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>29359966785410</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145054</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>md.obsidian</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Obsidian.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Obsidian</string>
				<key>file-mod-date</key>
				<integer>222569067205411</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>156873250641082</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>small-spacer-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2971418918</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.openai.codex</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Codex.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Codex</string>
				<key>file-mod-date</key>
				<integer>107962163333546</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>252788460563222</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145064</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.fournova.Tower3</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Tower.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Tower</string>
				<key>file-mod-date</key>
				<integer>159690749183157</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>252788460563222</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>spacer-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145057</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.microsoft.edgemac</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20Edge.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft Edge</string>
				<key>file-mod-date</key>
				<integer>163277047141848</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>252788460563222</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145058</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ai.perplexity.comet</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Comet.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Comet</string>
				<key>file-mod-date</key>
				<integer>231682987807452</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>16483654908873</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2232742282</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.duckduckgo.macos.browser</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/DuckDuckGo.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>DuckDuckGo</string>
				<key>file-mod-date</key>
				<integer>181599377270840</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>55795490517070</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2232742283</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3859772925</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3859772925</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>spacer-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145063</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145067</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.microsoft.VSCode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Visual%20Studio%20Code.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Visual Studio Code</string>
				<key>file-mod-date</key>
				<integer>113575683126020</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>135716239844876</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145068</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.todesktop.230313mzl4w4u92</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Cursor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Cursor</string>
				<key>file-mod-date</key>
				<integer>17634704306118</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>109164752532491</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1097145062</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>app.kaleidoscope.v4</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Kaleidoscope.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Kaleidoscope</string>
				<key>file-mod-date</key>
				<integer>36463839302383</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>147862408778425</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>small-spacer-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>small-spacer-tile</string>
		</dict>
	</array>
	<key>position-immutable</key>
	<true/>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>IN</string>
	<key>show-process-indicators</key>
	<true/>
	<key>show-recents</key>
	<false/>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>showhidden</key>
	<true/>
	<key>size-immutable</key>
	<true/>
	<key>static-only</key>
	<false/>
	<key>tilesize</key>
	<integer>26</integer>
	<key>trash-full</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-bl-corner</key>
	<integer>4</integer>
	<key>wvous-bl-modifier</key>
	<integer>0</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
	<key>wvous-tl-corner</key>
	<integer>1</integer>
	<key>wvous-tl-modifier</key>
	<integer>0</integer>
	<key>wvous-tr-corner</key>
	<integer>1</integer>
	<key>wvous-tr-modifier</key>
	<integer>0</integer>
</dict>
</plist>
